.infoContainer {
    box-shadow: var(--shadow-md);
    width: 280px;
    height: 100px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: .1px solid rgba(214, 214, 214, 0.24);
    background-color: white;
    margin-bottom: 20px;
}

.container {
    background-color: white;
    border: .1px solid rgba(214, 214, 214, 0.24);
    box-shadow: var(--shadow-md);
    width: 100%;

    border-radius: 8px;
    padding: 24px;
}