.title {
    font-size: 30px;
}


.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 30px;
    align-items: center;
}

.items {
    display: flex;
    align-items: center;
    gap: 20px;
}