.button {
    border: none;
    border-radius: 8px;
    font-size: 15px;
    min-width: "fit-content";
    cursor: pointer;
    padding: 16px 10px;
    background-color: #007bff;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    user-select: none;
    width: 100%;
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-1px);
}