.container {
    padding: 20px;
}

.label {
    margin-bottom: 10px;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.input,
.textarea {
    width: 200px;
    margin-bottom: 15px;
}

.button {
    background-color: #008cba;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}